body {
	padding:auto;
	color:red;
	background-color:#000000;
	margin: 0;
}
img {
	width:500px;
	height:500px;
}

.class {
	color:#00FF00;
}

#id {
}

.autotube-header {
	background-color: grey;
	color:#00AAFF;
	padding: auto;
	overflow:hidden;
}

.autotube-header a {
	float:left;
	padding: auto;
	width: 100px;
	text-align:center;
	text-decoration:none;
	color: black;
	padding: 15px 16px;
}

.autotube-header a.active {
	background-color: green;
}

.autotube-body {
	color:#00FF00;
}

.autotube-content {
	color:#FF0000;
	display: grid;
	width: 80%;
	margin: 50px auto 50px auto;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-gap: 3rem;
	justify-content: space-evenly;
}

.autotube-tiles {
	border: 5px;
	border-radius: 5px;
	background-color: grey;
	padding: 5px;
	display: grid;
	color: black;
	width: 300px;
	text-align: center;
}

.autotube-tiles a {
	text-decoration: none;
	color: black;
}

.autotube-tiles:hover {
	background-color: #BBBBBB;
	color: black;
}

.autotube-tiles h2 {
	font-size: 16;
	padding: auto;
}
.autotube-tiles img {
	width:100%;
	height: 300px;
}

.autotube-tiles-body {
	padding: 5px;
}

.autotube-tiles-footer {
	float: bottom;
}

.autotube-footer {
	border-top: 1px, blue;
	color: black;
	float: bottom;
	text-align: center;
	background-color: grey;
	width: 100%;
	height: 20px;
	left: 0;
}
