/********************************************************************************
*		Author: 	David Elliott					*
*		Date:		29/11/2018					*
*		Revision:	0.01						*
*********************************************************************************/

:root {
	--pallette-highlight: 255 255 255;
	--pallette-light: 205,215,214;
	--pallette-plain: 248,112,96;
	--pallette-dark: 179,163,148;
	--pallette-background: 16,37,66;
	font-family: "Arial", Arial, sans, sans-serif;
}
	

body {
	margin: 0;
	background-color: rgba(var(--pallette-background));
	background-image: url("../image/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}


/****************** TOP BAR************************************/

.top-bar {
	top: 0;
	overflow: hidden;
	width: 100%;
	background-color: rgba(var(--pallette-dark));
	padding: 5px;
	z-index: 1;
}

.top-bar a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius:5px;
	margin-left:5px;
	margin-right:5px;
}

.top-bar a:hover {
	background-color: rgba(var(--pallette-highlight));
	color: #000000;
}

.top-bar a.active {
	background-color: rgba(var(--pallette-light));
	color: white;

}


.top-bar .top-bar-right {
	float: right;
	margin-right: 10px;
}

.top-bar .top-bar-left {
	float: left;
}

.top-bar .topbar-logo {
	display: flex;
	height: 40px;
	margin: auto;
}

/******************CONTENT************************************/

.content {
	display: grid;
	justify-content: center;
	grid-gap: 20px 10px;
	background-color: rgba(var(--pallette-dark), 0.8);
	width:66%;
	margin: 100px auto;
	padding: 20px;
	border-radius: 10px;
	text-decoration: none;
}

.content .item {
	background-color: rgba(var(--pallette-plain));
	position: relative;
	border-radius: 5px;
	margin: auto;
	opacity: 1.0;
	align-self: start;
	text-decoration: none;
	box-shadow: -5px 5px 5px rgba(var(--pallette-background), 0.5);
	width: 200px;
	height: 300px;
}

.content .item:hover {
	background-color: rgba(var(--pallette-highlight));
	color: rgba(var(--pallette-light));
}

.content .item .item-header{
	text-align: center;
	font-size: 20;
	font-weight: bold;
	color: rgba(var(--pallette-light));
	padding: 10px;	
}

.content .item .item-footer {
	text-align: center;
	color: rgba(var(--pallette-light));
	height: 30px;
	bottom: 0;
}

.content .item .item-image {
	display:flex;
	width:100%;
	max-height: 200px;
	margin: auto;
}


/******************BOTTOM BAR************************************/

.bottom-bar {
	overflow: hidden;
	width: 100%;
	background-color: rgba(var(--pallette-dark));
	bottom: 0;
	padding: auto auto 20px auto;
	color: rgba(var(--pallette-highlight));
}

.bottom-bar a {
	float: left;
	color: rgba(var(--pallette-highlight));
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.bottom-bar a .bottom-copyright {
	padding: 14px 16px;
	text-align:right;
}

/******************MEDIA - RESPONSIVE************************************/

@media only screen and (max-width: 300px) {
	.content {
		grid-template-columns: 100%;
	}
	.top-bar {
		position: relative;
	}
	.bottom-bar {
		position: relative;
	}
}

@media only screen and (min-width: 600px) {
	.content {
		grid-template-columns: 50% 50%;
	}
	.top-bar {
		position: relative;
	}
	.bottom-bar {
		position: relative;
	}
}
@media only screen and (min-width: 1000px) {
	.content {
		grid-template-columns: 33% 33% 33%;
	}
	.top-bar {
		position: fixed;
	}
	.bottom-bar {
		position: fixed;
	}
}

@media only screen and (min-width: 1200px) {
	.content {
		grid-template-columns: 25% 25% 25% 25%;
	}
	.top-bar {
		position: fixed;
	}
	.bottom-bar {
		position: fixed;
	}
}

.virus {
	background-color: rgba(var(--pallette-plain))
	}
