<!doctype=html>
<html>
<head>
<title>AutoTube</title>
<link rel="stylesheet" type="text/css" href="theme.css">
<script type="text/javascript" src="script.js"></script>
<div class="top-bar">
  <a href="" class="active">Main</a>
  <a href="">About</a>
  <a href="" class="top-bar-right">+</a>
  <img src="logo.svg" class="topbar-logo" id="logo"></img>
</div>
</head>
<body>
<div class="content">
  <a class="item" id="active" href="item1">
    <div class="item-header">Random Man</div>
    <img class="item-image" src="man.jpg" ></img>
    <div class="item-footer">Who is this?</div>
  </a>
  <a class="item">
    <div class="item-header">Pepe</div>
    <img class="item-image" src="pepe.png" ></img>
    <div class="item-footer">Description</div>
  </a>  
  <a class="item">
    <div class="item-header">Lenny</div>
    <img class="item-image" src="lenny.png" ></img>
    <div class="item-footer">Description</div>
  </a>
  <a class="item">
    <div class="item-header">linux torvalds</div>
    <img class="item-image" src="linus.jpg" ></img>
    <div class="item-footer">Linux Dude</div>
  </a>
  <a class="item">
    <div class="item-header">Mike Kamau</div>
    <img class="item-image" src="mike.png" ></img>
    <div class="item-footer">Lad</div>
  </a>
  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>  <a class="item">
    <div class="item-header">Ben Rutter CEO</div>
    <img class="item-image" src="ben.jpg" ></img>
    <div class="item-footer">Throbber!</div>
  </a>
</div>
<div class="bottom-bar">
  <a href="">Contact</a>
  <a class="virus" onclick="popup();"> MALICIOUS</a>
  <a href="http://www.techdodo.co.uk" class="bottom-copyright">Copyright: Techdodo. </a>
</div>
</body>
</html>